/target
/.settings
.classpath
.project
/bin

*.class

/protocol/target
/protocol/.classpath
/protocol/.project
/protocol/.settings/
/protocol/.settings/org.eclipse.wst.common.component

/client/target
/client/,classpath
/client/.project
/client/.settings/
/client/.settings/org.eclipse.wst.common.component

/server/target
/server/.classpath
/server/.project
/server/.settings/
/server/.settings/org.eclipse.wst.common.component

